// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;
$primary-color: #d95353;



.form-group {
  font: 100% $font-stack;
  color: red $primary-color;
}
